<template>
  <div class="container">
      <h4 class="WelcomeNote"> Product Catalog</h4>
      <hr class="mt-0"/>
      <AdminProductCategory></AdminProductCategory>

      <h4 v-if="hasMessage && message" class="text-warning ">
          {{  message }} 
          <button type="button" onclick="">&times;</button>
      </h4>
      <!--<h4 v-bind:class="messageStyle" >
          mkekk
          <button type="button" v-on:click="closeNotification()">&times;</button>
      </h4>-->
      <div
           class="d-flex row mt-0"
       >
          <div
               class="p-0 flex-fill col-md-2 col-sm-12 mr-md-2 mt-2 card productCategory"
               title="Create Product Category"
               v-on:click="newProdCat()"
               v-if="isAdmin"
               data-toggle="modal"
               data-target="#newProdCat"
           >
              <div class="card-body1 newProductCat">
                  <h4>
                      <i class="fas fa-plus"></i> <br /> <br />
                      new Product Category
                  </h4>
              </div>
          </div>
          <div
               class="p-0 flex-fill col-md-2 col-sm-12 mr-md-2 mt-2 card productCategory"
               v-for="(productCategory, index) in productCategories"
               v-bind:key="productCategory.productCategoryID"
               >
              <div class="card-body1">
                  <AsyncImage
                              :imageUrl="productCategory.imageUrl"
                              :name="productCategory.name"
                              :link="'/productCategory/' + productCategory.name"
                              >

                  </AsyncImage>
                  <!--<img
                       
                       v-bind:src="productCategory.imageUrl"
                       alt="Name"
                       title="Explore"
                       class="card-img"
                       v-on:click="gotoCatDetailPage(productCategory.name)"/>-->
              </div>
              <div class="card-footer py-1 pl-1">
                  <h4 class="product-name pt-0">
                      <span class="cat_name">{{ productCategory.name}}</span>

                      <i
                         class="fas fa-edit"
                         v-if="isAdmin"
                         v-on:click="editProdCat(productCategory, index)"
                         data-toggle="modal"
                         data-target="#newProdCat">
                      </i>
                      &nbsp;
                      <i 
                         class="fas fa-trash"
                         v-if="isAdmin"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Risky!!!"
                         v-on:click="deleteProdCat(productCategory, index)">
                      </i>
                  </h4>

                  <hr />
                  <h6 class="aka">
                      AKA &rArr;
                      <span
                          v-for="MarketName in productCategory.marketNames"
                          v-bind:key="MarketName"
                          >
                          {{ MarketName }}
                      </span>
                  </h6>
                  <span
                        class="badge badge-pill badge-dark"
                        v-for="tag in productCategory.tags"
                        v-bind:key="tag"
                        >
                      {{ tag }}
                  </span>

              </div>
          </div>
      </div>

  </div>
</template>
<style src="./index.css" />
<script src="./index.js" > </script>
<style scoped>
  .aka {
      font-size: 10px;
      margin-bottom: 0;
  }
  .card-body1
  {
      height: 300px !important;
  }
  .card-body1 > img {
      width: 100% !important;
  }
  .productCategory {
      cursor: pointer;
  }

  hr {
      margin: 0;
  }
  img {
        height: 100%;
  }
</style>
