<template>
  <div>
    <div class="card-header px-md-1 py-md-1">
      {{name }}
    </div>
    <div class="card-body">
      <img  v-bind:src="imgUrl" v-bind:alt="name" />
    </div>
    <div class="card-footer row mx-0 pl-0">
      <a class="productFooter col-2 mr-auto ml-0" v-bind:href="productUrl">
        <i class="fas fa-eye"></i>
      </a>
      <span class="col-6 mr-auto productFooter price">{{currency}} {{Number(price).toLocaleString('en')}}</span>
      <i class="fas fa-cart-plus col-3 mr-1"  v-on:click="addToCart(prodcutID)"></i>
    </div>
  </div>
</template>

<style src="./index.css" />
<script src="./index.js" > </script>
